.sidebar {
  background-color: #B35619;
  padding: 20px 1% 60px;
  width: 7.5%;
  height: 100%;
  position: fixed;
  top: 80px;

  

  }
  
  /* .activeContainer {
   display: flex;
   padding-bottom: 100px;
   padding: 100px;
  } */
  
  .activeItem {
    color: #FAF5CF;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
 
  
  .textContainer h1 {
    margin-bottom: 0px;
    color: #FAF5CF;
  }
  
  @media (min-width: 320px) and (max-width: 1200px) {
    .textContainer {
      display: none;
    }
    
  }