.form {
  display: flex;
  padding: 5px;
  position: fixed;
  bottom: 0;
  width: 90.5%;
  border-top: 1px solid lightgray;
  left: 9.5%;
  z-index: 1;
}

.input-chat {
 flex: 1;
 padding: 10px;
 border: none;
 height: 30px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
 border: none;
 margin-right: 10px;
 font-weight: bolder;
 background-color: #0C1842;
 width: 80px;
 color: #FAF5CF;
}