body,
html,
#root,
.app,
.container {
  width: 100%;
  height: 100%;
  background-color: #C1E3F1;
}



.container {
  font-size: 28px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #C1E3F1;
}

.loginForm{
  float:left;
  width:45%;
  padding: 10px 10px 20px 10px;
  margin:15px 0 15px 25px;
  box-shadow: 10px 10px 5px #aaaaaa;
  border: 1px solid #BFBFBF;


}


.inputField {
  padding-top: 16px;
}

.input {
  box-sizing: border-box;
  outline: none;
  border: solid 2px #1189de;
  border-radius: 4px;
  color: #292929;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
}

.btn {
  width: 100%;
  min-width: 280px;
  color: #565656;
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  border: solid 2px #B35619;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.submitButton {
  padding-top: 16px;
}

