.infoBar {
  display: flex; 
  align-items: center;
  background:#0C1842;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}



.chatroom__name {
  color: #FAF5CF;
  padding-left: 40%;
}

.exit__room{
  color: #FAF5CF;
}

